@model deonso9.Models.MayGiat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MayGiat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HangSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngaySX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaySX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhoiLuongGiat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhoiLuongGiat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
